{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [{sumo_db, "0.7.3"},
%%        {sumo_db, {git, "https://github.com/Svampen/sumo_db.git",
%%                   {branch, "find_results"}}},
%%        {sumo_db, {git, "https://github.com/inaka/sumo_db.git",
%%                   {branch, "master"}}},
        {sumo_db_mysql, {git, "https://github.com/Svampen/sumo_db_mysql.git",
                         {branch, "bigint"}}},
        {iso8601, "1.1.2", {pkg, inaka_iso8601}},
        {gun, {git, "https://github.com/ninenines/gun", {branch, "master"}}},
        {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.14.11"}}},
        {lager, {git, "https://github.com/erlang-lager/lager",
                 {tag, "3.5.1"}}},
        {mixer, {git, "https://github.com/inaka/mixer.git", {tag, "0.1.5"}}},
        {cowboy_swagger, {git, "https://github.com/inaka/cowboy-swagger.git",
                          {branch, "master"}}},
        {trails, {git, "https://github.com/inaka/cowboy-trails.git",
                  {tag, "0.2.1"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git",
                  {tag, "1.1.2"}}},
        {sumo_rest, {git, "https://github.com/inaka/sumo_rest.git",
                     {tag, "0.3.4"}}}
    ]}.